.games-header-container {
    position: fixed;
    top: 0;
    padding: 20px;
    background-color: var(--white); /* White background for profile container */
    box-shadow: 0 4px 8px var(--box-shadow); /* Global shadow */
    text-align: center;
    width: 100%;
    z-index: 1000;
    height: 175px;
}

.games-header-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.games-header {
    font-size: 24px;
    text-align: center;
}

.games-header-tournament-name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.games-selection {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--primary-color);
}

.games-selection.active {
    background-color: var(--primary-hover);
}

.games-selection-title {
    vertical-align: middle;
}

.games-container {
    position: fixed;
    top: 145px;
    padding: 30px;
    overflow-y: scroll;
    height: var(--height-wo-bottom-nav);
    width: 100%;
}

.game-card {
    display: flex;
    align-items: center;
    background-color: var(--white); /* Use white background for the card */
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow);
    transition: box-shadow 0.3s ease;
    margin: auto;
    margin-bottom: 15px;
}

.confirm-start {
    display: flex;
    align-items: center;
    background-color: var(--white); /* Use white background for the card */
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow);
    transition: box-shadow 0.3s ease;
    margin: auto;
    margin-bottom: 15px;
    justify-content: center;
}

.game-card:hover {
    box-shadow: 0 8px 16px var(--box-shadow);
}

.game-image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.game-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-name {
    font-size: 14px;
    font-weight: bold;
    color: var(--default-color);
}

.winner-info {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--neutral-color);
}

.winner-trophy {
    color: var(--gold);
    margin-left: 5px;
    font-size: 16px;
}

.in-progress {
    color: var(--secondary-color);
    margin-left: 5px;
    font-size: 16px;
}

.not-started {
    color: var(--neutral-color);
    margin-left: 5px;
    font-size: 16px;
}

@media (min-width: 768px) {
    .game-image {
        width: 80px;
        height: 80px;
    }

    .game-name {
        font-size: 22px;
    }

    .winner-info {
        font-size: 16px;
    }
}