/* Leaderboard Container */
.leaderboard-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    position: fixed;
    top: 145px;
    overflow-y: scroll;
    height: calc(100vh - 225px);
    padding: 30px;
}

/* Leaderboard Card Styling */
.leaderboard-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow);
    transition: transform 0.3s ease;
}

.leaderboard-card:hover {
    transform: scale(1.03); /* Slight zoom on hover */
}

/* Player Name Styling */
.player-name {
    font-size: 18px;
    font-weight: bold;
    color: var(--default-color);
}

/* Player Points Styling */
.player-points {
    font-size: 18px;
    font-weight: bold;
    color: var(--grey);
}

/* Trophy Icons */
.gold-trophy {
    color: var(--gold);
    font-size: 24px;
}

.silver-trophy {
    color: var(--silver);
    font-size: 24px;
}

.bronze-trophy {
    color: var(--bronze);
    font-size: 24px;
}

/* Special Classes for Top 3 */
.first-place .player-points {
    color: var(--gold);
}

.second-place .player-points {
    color: var(--silver);
}

.third-place .player-points {
    color: var(--bronze);
}
