.manage-header-container {
    position: fixed;
    top: 0;
    padding: 20px;
    background-color: var(--white); /* White background for profile container */
    box-shadow: 0 4px 8px var(--box-shadow); /* Global shadow */
    text-align: center;
    width: 100%;
    z-index: 1000;
    height: 145px;
}

.manage-header-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.manage-header {
    font-size: 24px;
    text-align: center;
}

.manage-selection {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--primary-color);
}

.manage-selection-success {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--success);
}

.manage-selection.active {
    background-color: var(--primary-hover);
}

.manage-selection-title {
    vertical-align: middle;
}

.tournament-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.tournament-info-display {
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow);
    /* width: 80%; */
    text-align: center;
}

.tournament-info-form {
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow);
    /* width: 80%; */
}

.add-tournament-form {
    display: none;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow);
    /* width: 80%; */
}

.tournament-panel {
    display: none;
    position: fixed;
    top: 145px;
    overflow-y: scroll;
    height: calc(var(--height-wo-bottom-nav));
    padding: 20px;
    width: 100%;
}

.tournament-info-container {
    display: flex;
    flex-direction: column;
}

.info-tournament-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.info-tournament-name {
    font-weight: bold;
    font-size:16px
}

.info-tournament-date {
    font-weight: bold;
    font-size:16px;
    margin-top:20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: var(--default-color);
    margin-bottom: 10px;
    display: block;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    background-color: var(--white);
    box-shadow: 0 2px 4px var(--box-shadow);
}

.form-input:focus {
    border-color: var(--primary-hover);
}

.success-btn {
    width: 100%;
    padding: 10px;
    background-color: var(--success);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.edit-btn {
    width: 100%;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.add-tournament-form-buttons {
    .success-btn {
        margin-top: 0px;
    }
    .cancel-btn {
        margin-top: 0px;
    }
}

.cancel-btn {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.save-banner {
    position: fixed;
    bottom: 109px;
    left: 0;
    right: 0;
    background-color: var(--success);
    color: var(--white);
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px var(--box-shadow);
    margin: 0 20px;
    z-index: 1005;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.save-banner.error {
    background-color: var(--error); /* Error red */
}

.save-banner.show {
    opacity: 1;
    visibility: visible;
}

.add-tournament-form .show {
    opacity: 1;
    visibility: visible;
}

.add-tournament-form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.add-game-button {
    margin-top: 0px;
    margin-bottom: 20px;
}

.players-container {
    margin-top: 20px;
}

.player-card {
    background-color: var(--white);
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow);
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
}

.delete-icon {
    color: var(--error);
    border-radius: 50%;
    font-size: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.add-icon {
    color: var(--white);                   /* White color for the plus icon */
    background-color: var(--success);      /* Green background for the circle */
    border-radius: 50%;             /* Circle shape */
    display: inline-flex;           /* Align icon in the center of the circle */
    justify-content: center;        
    align-items: center;
    width: 30px;                    /* Fixed width and height for consistent shape */
    height: 30px;
}

.player-card.inactive .player-name {
    color: grey;
    text-decoration: line-through;
}


/* Player Name Styling */
.player-name {
    font-size: 18px;
    font-weight: bold;
    color: var(--default-color);
}

.qr-window {
    margin: auto;
}

#QR-preview {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: 8px solid var(--black);
    object-fit: cover;
}

.search-container {
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow);
    margin-bottom: 20px;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* Space for search icon */
    border: 1px solid var(--input-border);
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: var(--primary-color);
}

.add-game-info {
    margin-top: 20px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px var(--box-shadow);
}

.add-game-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.add-game-form-btn {
    width: 40%;
    padding: 10px;
    background-color: var(--success);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.add-game-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.manage-game-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.configure-game-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: var(--default-color);
    margin-bottom: 5px;
    display: block;
}

input[type="text"], input[type="number"], textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    box-shadow: 0 2px 4px var(--box-shadow);
}

input:focus, textarea:focus, select:focus {
    border-color: var(--input-focus);
}

.points-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
}

.tournament-results-container {
    overflow-x: auto;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow);
}

.tournament-results-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

thead th {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 10px;
}

tbody td {
    padding: 10px;
    border: 1px solid var(--input-border);
    font-size: 16px;
}

.game-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transform: rotate(-45deg); Rotate game names */
    white-space: nowrap;
}

.game-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* margin-bottom: 5px; */
}

tbody td {
    padding: 10px;
}

tbody td:empty::before {
    content: "-";
    color: var(--neutral-color);
}

.tournament-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover; /* Ensures the image covers the entire area without stretching */
}

.delete-cancel-container {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .edit-btn {
        margin-top: 10px;
    }
}

#invalid-configuration-banner{
    font-size: 10px;
}

@media (max-width: 768px) {
    .add-tournament-form {
        position: fixed;
        top: 175px;
    }

    .leaderboard {
        display: none
    }
}