.profile-container {
    margin: 0 auto;
    padding: 20px;
    background-color: var(--white); /* White background for profile container */
    box-shadow: 0 4px 8px var(--box-shadow); /* Global shadow */
    /* border-radius: 0px 0px 65px 65px; */
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Profile Picture Wrapper */
.profile-pic-wrapper {
    position: relative;
    display: inline-block; /* Keeps the image centered */
}

/* Profile Picture */
.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #e0e0e0;
    cursor: pointer; /* Clickable */
}
.profile-name {
    font-size: 24px;
    color: var(--neutral-color); /* Neutral gray for name text */
}

.qr-section {
    margin-top: 20px;
}

button#show-qr-btn {
    padding: 10px 20px;
    background-color: var(--primary-color); /* Primary Bittersweet for QR button */
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#show-qr-btn:hover {
    background-color: var(--primary-hover); /* Darker Bittersweet on hover */
}

.qr-code-container {
    position: fixed;
    top: 192px;
    height: calc(100vh - 272px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-content {
    background-color: var(--white); /* White background for QR modal */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow); /* Global shadow */
}

.qr-code {
    width: 200px;
    height: 200px;
    background-color: #000; /* Placeholder for QR code */
}
