body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: var(--background-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signin-container {
    max-width: 350px;
    background: var(--white);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 20px var(--box-shadow);
    text-align: center;
}

.logo img {
    max-width: 120px;
    margin-bottom: 30px;
}

.signin-form {
    width: 100%;
}

.form-group {
    margin-bottom: 10px; /* Added more padding between fields */
}

.form-group input {
    max-width: 280px; /* Limit the width */
    padding: 10px; /* Reduce padding to make the input smaller */
    border: 1px solid var(--input-border);
    border-radius: 10px; /* Keep the rounded look, but a bit smaller */
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    font-size: 16px; /* Reduce the font size */
    transition: all 0.3s ease;
}

.form-group input:focus {
    border-color: var(--input-focus); /* Use variable for focus styling */
}

.submit-buttons-container {
    margin-top: 30px;
}

button#signin-btn {
    width: 65%;
    max-width: 280px;
    padding: 7px;
    background: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px var(--box-shadow);
    transition: background 0.3s ease;
}

button#create-account-btn {
    width: 65%;
    max-width: 280px;
    padding: 7px;
    background: var(--button-green); /* Use green for create account */
    color: var(--white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px var(--box-shadow);
    transition: background 0.3s ease;
}

button#signin-btn:hover {
    background: var(--primary-hover); /* Hover for sign-in button */
}

button#create-account-btn:hover {
    background: var(--button-green-hover); /* Hover for create account button */
}

@media (min-width: 768px) {
    .signin-container {
        max-width: 450px;
    }

    button#signin-btn, button#create-account-btn {
        padding: 7px;
    }
}
