:root {
    --primary-color: #F25F5C;   /* Bittersweet for primary actions and active state */
    --primary-hover: #E44A4A;   /* Darker Bittersweet for hover effects */
    --secondary-color: #247BA0; /* Cerulean for secondary actions */
    --background-color: #70C1B3; /* Verdigris for background */
    --highlight-color: #FFE066; /* Naples Yellow for highlighted sections and buttons */
    --neutral-color: #50514F;   /* Davy's gray for text, borders, and input borders */
    --white: #ffffff;           /* White for backgrounds */
    --white-hover: #f7f7f7; 
    --box-shadow: rgba(0, 0, 0, 0.1); /* Box shadow color */
    --gold: #FFE066;
    --silver: #C0C0C0;
    --bronze: #CD7F32;
    --gold-hover: #d4a017;      /* Slightly darker gold for hover */
    --silver-hover: #aaaaaa;    /* Slightly darker silver for hover */
    --bronze-hover: #a86024;    /* Slightly darker bronze for hover */
    --grey: #636363;
    --black: #000000;
    --success: #5cb85c;

    --height-wo-bottom-nav: calc(100vh - 225px);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;  /* Ensure the body fills the viewport */
    font-family: 'Poppins', sans-serif; /* Default font */
}

body {
    background: linear-gradient(145deg, #70C1B3, #ffffff); /* Verdigris to White gradient */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  /* Ensure the content fills the whole page vertically */
}

/* Set Poppins as the default font for the entire site */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-weight: 600; /* Semi-bold for headings */
}

p, input, button {
    font-weight: 400; /* Regular weight for text, inputs, and buttons */
}

/* Notification styles */
.notification {
    display: none; /* Hidden by default */
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-size: 16px;
}

/* Success message (green) */
.notification.success {
    background-color: #28a745; /* Green for success */
    color: white;
}

/* Error message (red) */
.notification.error {
    background-color: #dc3545; /* Red for error */
    color: white;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}