.tournament-header-container {
    position: fixed;
    top: 0;
    padding: 20px;
    background-color: var(--white); /* White background for profile container */
    box-shadow: 0 4px 8px var(--box-shadow); /* Global shadow */
    text-align: center;
    width: 100%;
    z-index: 1000;
    height: 145px;
}

.tournament-header-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.tournament-header {
    font-size: 24px;
    text-align: center;
}

.tournament-selection {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--primary-color);
}

.tournament-selection.active {
    background-color: var(--primary-hover);
}

.tournament-selection-title {
    vertical-align: middle;
}

.tournament-list-container {
    position: fixed;
    top: 145px;
    overflow-y: scroll;
    height: var(--height-wo-bottom-nav);
    padding-top: 30px;
}

.tournament-card {
    background-color: var(--white);
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
}

.tournament-card:hover {
    background-color: var(--white-hover);
}

.tournament-name {
    font-weight: bold;
    font-size: 14px;
}

.tournament-info {
    font-size: 12px;
}

.hidden {
    display: none !important;
}

.tournament-info-display-card {
    display: flex;
    font-size: 12px;
    color: var(--neutral-color);
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.round-header {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.bracket-group-buttons {
    margin-bottom: 35px;
    width: 100px;
}

.winner-names-container {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}

.player-name-points-container{
    display: flex;
    flex-direction: column;
}