RewriteEngine On

# Redirect /profile to php/profile/profile.php
RewriteRule ^profile$ php/profile/profile.php [L]

# Redirect /tournaments to php/tournaments/tournaments.php
RewriteRule ^tournaments$ php/tournaments/tournaments.php [L]

# Redirect /games to php/games/games.php
RewriteRule ^games$ php/games/games.php [L]

# Redirect /game/{tournament_id}/{game_id} to game.php?tournament_id={tournament_id}&game_id={game_id}
RewriteRule ^game/([0-9]+)/([0-9]+)$ php/games/game.php?tournament_id=$1&game_id=$2 [L]

# Redirect /leaderboard to php/leaderboard/leaderboard.php
RewriteRule ^leaderboard$ php/tournaments/leaderboard.php [L]

# Redirect /tournament/{id} to tournament-details.php?tournament_id={id}
RewriteRule ^tournament/([0-9]+)$ php/tournaments/tournament.php?tournament_id=$1 [L]

# Redirect /current-tournaments$ php/tournaments/current-tournaments-list
RewriteRule ^current-tournaments$ php/tournaments/current-tournaments-list.php [L]

# Redirect /past-tournaments$ php/tournaments/past-tournaments-list
RewriteRule ^past-tournaments$ php/tournaments/past-tournaments-list.php [L]

# Redirect /tournaments to php/tournaments/tournaments.php
RewriteRule ^trophies$ php/trophies/trophies.php [L]

# Redirect /manage to php/manage/manage.php (for admins)
RewriteRule ^manage$ php/manage/manage.php [L]

# Redirect /login to php/login/login.php
RewriteRule ^login$ php/login/login.php [L]

# Redirect /logout to php/login/logout.php
RewriteRule ^logout$ php/login/logout.php [L]
